@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bitter&family=Copse&family=Cutive&family=Lora:wght@700&family=Sanchez&family=Scope+One&family=Slabo+27px&family=Trocchi&family=Vesper+Libre&display=swap');
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}
.Contain{
    height: 270px !important;
    background-color:#f50057;
    padding-top:40px;
}
.Paper{
padding: 20px;
text-align: center;
}
input{
    padding: 20px;
    border: 1px solid #f50057;
    border-radius: 5px;
    margin-bottom: 15px;
}
input[type=text]{
    padding: 10px;
}


.Title{
    color: white;
}
.Bookmark{
    font-family:  'Copse', serif !important;
    font-weight: bold !important;
    margin-top: 40px !important;
    font-size: 25px;
}
.Bookmark~p{
    font-size: 15px;
}
.Add-Btn{
    background-color:#f50057 !important ;
    color: white !important;
    font-weight: bold !important;
}
.Progress{
    margin: auto !important;
    width: 100px;
    margin-top: 270px !important;
}
.Desc{
font-weight: bold;
font-size: 20px;
}
.Url{
    overflow: hidden !important;

}

.List{
    padding: 20px!important;
    margin-bottom: 10px !important;
    outline: none;
    text-decoration: none !important;
}
.Url-btn-wrap{
    text-transform: none !important ;
    background-color:#f50057 !important ;
    color: white !important;
    margin: 5px !important;
}
a:link{
    text-decoration: none;
}
.Center{
    text-align: center;
}